# Your Matrix Access Token (Get this from Element settings)
# Note: Do not wrap values in quotes!
MATRIX_TOKEN=

# Your Homeserver URL (e.g., https://matrix.org or https://matrix.yourdomain.com)
MATRIX_HOMESERVER=https://matrix.org

# The Room ID to fetch state from
#MATRIX_ROOM_ID=!sM2LwqNHGQOgLf35gqxPMy9D7oYde2q9ADg8HPBM3kE
MATRIX_ROOM_ID="!OGEhHVWSdvArJbQdhm:matrix.org"
